body {
  background-color: #e5d8f2;
}




input.custom-input {
color: #999;



}

.log-interaction {
  background-color: #e9e6eb;
  border-radius: 16px;
  padding: 40px;
  max-width: 1100px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.form-control-custom {
  background-color: #e9e6eb;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
}

.form-control-custom::placeholder, .custom-input {
  color: #999;
}

.note-box {
  background-color: #e9e6eb;
  border-radius: 10px;
  height: 150px;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

