<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <nav class="navbar navbar-dark bg-purple px-2 d-flex">
                <div class="d-flex align-items-center gap-2 mx-auto">
                    <a class="navbar-brand" href="#">HOME</a>
                    <a class="navbar-brand" href="#">MESSAGES <span class="badge bg-danger">3</span></a>
                    <a class="navbar-brand" href="#">PROJECTS &#9662;</a>
                    <a class="navbar-brand" href="#">GRANTS &#9662;</a>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <img src="profile.jpg" alt="Profile" class="profile-pic">
                    <span class="text-white">samogden</span>
                    <button class="btn btn-light">LOGOUT</button>
                </div>
            </nav>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebApplication1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>