
/* NAV BAR */

header {
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    min-height: 100px; /* Match navbar height */
    overflow: hidden;
}
.navbar {
    min-height: 100px;
    background-color: var(--dark-purple) !important;
    padding: 0;
    margin: 0;
}

.navbar-nav .nav-link {
    color: var(--lightest-gray) !important;
    margin: 0 1rem;
    font-size: 0.9rem;
    text-decoration: none !important;
    border-bottom: none;
    font-weight: normal;
}

    .navbar-nav .nav-link:hover {
        font-weight: bold;
        color: white !important;
        text-decoration: underline !important;
    }

    .navbar-nav .nav-link.active-link {
        font-weight: bold;
        text-decoration: underline !important;
    }

.logout-btn {
    background-color: var(--lightest-gray) !important;
    color: var(--dark-purple) !important;
    font-weight: 700;
    font-size: 0.95rem; /* ~14px */
    padding: 10px 30px;
    margin: 15px;
    border-radius: 8px;
}

    .logout-btn:hover {
        background-color: var(--light-purple) !important;
        color: black;
    }

/* DROPDOWN MENU DESIGN */

.custom-dropdown {
    border-radius: 0 0 5px 5px;
    background-color: var(--dark-purple);
    padding: 0.5rem 0;
    border: none;
    min-width: 180px;
}

    /* Dropdown items */
    .custom-dropdown .dropdown-item {
        color: var(--lightest-gray);
        font-weight: 500;
        font-size: 0.95rem;
        padding: 12px 16px;
        background-color: transparent;
        transition: all 0.2s ease;
    }

        /* Hover state */
        .custom-dropdown .dropdown-item:hover {
            text-decoration: underline;
            border-radius: 0;
            font-weight: bold;
        }


